## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [19]:
# Your code here
import random
list =[]

for x in range (0,101):
    list.append(x)

s = set(list)
sample_list = [random.sample(s,80)]
sample_list_1 = sample_list[0]


print(sample_list_1)

[85, 26, 74, 52, 10, 45, 56, 91, 40, 41, 37, 23, 29, 93, 14, 39, 11, 72, 66, 38, 60, 99, 0, 25, 55, 53, 65, 33, 57, 44, 61, 89, 86, 68, 2, 15, 88, 90, 71, 46, 22, 76, 92, 97, 100, 70, 32, 28, 1, 13, 3, 48, 42, 35, 96, 31, 95, 21, 9, 69, 59, 5, 78, 20, 7, 64, 94, 63, 80, 87, 27, 58, 82, 75, 16, 18, 84, 50, 81, 12]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
a = 0
sample_list_2=[]
while a <= 80:
    sample_list_2.append(random.randint(0,101))
    a+=1

print(sample_list_2)

[66, 2, 26, 34, 73, 83, 4, 84, 38, 21, 86, 13, 88, 101, 19, 88, 98, 96, 87, 72, 96, 71, 93, 79, 91, 28, 87, 99, 81, 14, 46, 58, 78, 62, 96, 19, 15, 10, 62, 69, 3, 85, 24, 100, 88, 3, 65, 33, 2, 78, 20, 11, 91, 2, 36, 82, 70, 71, 96, 19, 32, 76, 12, 17, 85, 62, 33, 35, 17, 50, 23, 19, 29, 78, 34, 49, 94, 11, 17, 64, 13]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
len(set2)
# the length is < 80, because the values which where double in the list have been removed, when
# converting the list into a set.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3a = set1.symmetric_difference(set2)
set3 = set1.intersection(set3a)
print(set3)

{0, 1, 5, 6, 8, 9, 16, 18, 22, 25, 30, 37, 39, 41, 44, 47, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 68, 74, 80, 89, 92, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4a = set2.symmetric_difference(set1)
set4 = set2.intersection(set4a)
print(set4)

{96, 35, 101, 76, 15, 49, 19, 87, 91, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 10, 11, 12, 13, 14, 17, 20, 21, 23, 24, 26, 28, 29, 32, 33, 34, 36, 38, 46, 50, 58, 64, 65, 66, 69, 70, 71, 72, 73, 78, 79, 81, 82, 83, 84, 85, 86, 88, 93, 94, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
b = len(set1)+len(set2)== len(set3)+len(set4)+2*len(set5)
print(b)

True

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
c= set1==set6
print(c)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
c=set3.union(set4,set5)
d=set1.union(set2)
f=c==d
print(f)

True

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
a=set1.pop()
set1.discard(a)
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 41, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set10 = set(list_to_remove)
set1.difference_update(set10)
print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 36, 37, 38, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 78, 80, 82, 83, 84, 85, 86, 88, 92, 93, 94, 95, 98, 100}